<?xml version="1.0"?>
<config>
    <modules>
        <EasyMode_BootSlider>
            <version>0.1.0</version>
        </EasyMode_BootSlider>
    </modules>
    <frontend>
        <routers>
            <bootslider>
                <use>standard</use>
                <args>
                    <module>EasyMode_BootSlider</module>
                    <frontName>bootslider</frontName>
                </args>
            </bootslider>
        </routers>
        <layout>
            <updates>
                <bootslider>
                    <file>bootslider.xml</file>
                </bootslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <bootslideradmin>
                <use>admin</use>
                <args>
                    <module>EasyMode_BootSlider</module>
                    <frontName>bootslideradmin</frontName>
                </args>
            </bootslideradmin>
        </routers>
    </admin>
    <global>
        <models>
            <bootslider>
                <class>EasyMode_BootSlider_Model</class>
                <resourceModel>bootslider_mysql4</resourceModel>
            </bootslider>
            <bootslider_mysql4>
                <class>EasyMode_BootSlider_Model_Mysql4</class>
                <entities>
                    <bootslider>
                        <table>bootslider</table>
                    </bootslider>
                </entities>
            </bootslider_mysql4>
        </models>
        <resources>
            <bootslider_setup>
                <setup>
                    <module>EasyMode_BootSlider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bootslider_setup>
            <bootslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bootslider_write>
            <bootslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bootslider_read>
        </resources>
        <blocks>
            <bootslider>
                <class>EasyMode_BootSlider_Block</class>
            </bootslider>
        </blocks>
        <helpers>
            <bootslider>
                <class>EasyMode_BootSlider_Helper</class>
            </bootslider>
        </helpers>
    </global>
</config>